# Scale factor of display when using hdmi (1 to 16 inclusively)
export TREZOR_OLED_SCALE=2

# Type of oled to use
#  NO OLED                  = 0
#  OLED_ADAFRUIT_I2C_128x64 = 1
#  OLED_SEEED_I2C_128x64    = 2
#  OLED_SH1106_I2C_128x64   = 3
#  OLED_ADAFRUIT_SPI_128x64 = 4
#  OLED_SH1106_SPI_128x64   = 5
export TREZOR_OLED_TYPE=3

# Flip the display vertically. Set to 0 or 1 
export TREZOR_OLED_FLIP=0

# Set gpio number to use for the yes/no buttons
export TREZOR_GPIO_YES=16
export TREZOR_GPIO_NO=12
